@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* vertical line on left of comments */
.comments-container::before{
  position: absolute;
  
}

.comment::before{
  position: relative;
  display:block;
  top: 57px;  
  left: -45px;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 38px;
  background: #78909c;
  /* background: black; */
  /* opacity: .07; */
}



.comment-admin::before{
  width: 36px;
  height: 36px;
  border-radius: 38px;
  border: 7px solid white;
  box-shadow: 4px 4px 15px 0 rgba(36, 37, 38, .08);
  left: -58px;
  background: #D9F99D;
  opacity: 1;
}
